---
interface PortFolioItemProps {
    imageUrl: string;
    title: string;
    description: string;
}
const { title, description, imageUrl, link } = Astro.props;
---

<li class="list-none bg-white rounded-md shadow-md transition hover:shadow-lg">
    <a href={link}>
        <img src={imageUrl} alt={title} class="w-full h-48 object-cover rounded-t-lg mb-4" />
        <h3 class="text-theme-on-bg text-xl font-semibold mb-4">{title}</h3>
        <p class="mb-4">{description}</p>
    </a>
</li>

<style>
    /* Aquí puedes agregar estilos específicos para este componente si es necesario */
</style>