---
interface TestimonialProps {
    text: string;
    author: string;
    position: string; // Opcional, por si quieres agregar el cargo o posición del autor.
    imageUrl: string; // Opcional, por si quieres agregar una imagen del autor.
}
const { text, author, position, imageUrl } = Astro.props;
---

<style>
    /* Aquí puedes agregar estilos específicos para este componente si es necesario */
</style>

<div class="bg-theme-surface-1 text-theme-on-surface-1 p-6 rounded-lg shadow-md transition hover:shadow-lg duration-[var(--theme-transition)]">
    <blockquote class="italic mb-4">"{text}"</blockquote>
    <div class="flex items-center">
        {imageUrl && <img src={imageUrl} alt={author} class="w-12 h-12 object-cover rounded-full mr-4" />}
        <div>
            <p class="font-semibold">{author}</p>
            {position && <p class="text-theme-on-surface-2">{position}</p>}
        </div>
    </div>
</div>
