---
import {

} from "../../styleConstants.js";

const styleConstants = [

].join(' ');

const {title, subtitle, text, side, color, bg} = Astro.props;

---

<section class=`h-screen w-full p-12 text-${side} text-${color} ${bg}`>
    
    <h1 class="w-full font-serif text-7xl font-bold mb-4">{title}</h1>
    <h3 class="w-full font-sans text-xl font-thin mb-12">{subtitle}</h3>
    <span class="w-full font-sans text-4xl font-thin">{text}</span>    

</section>